<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    
</head>
<body>



    <div class="main">
    
    

    <div class="header">

      <div class="title">
        <div>
          <h1>LIP</h1>
          <h1>CODERS</h1>
          <br></br>
          <span class="title-word title-word-1">Getting </span>
          <span class="title-word title-word-2">you </span>
          <span class="title-word title-word-3">the </span>
          <span class="title-word title-word-4">perfect </span>
          <span class="title-word title-word-5">lip </span>
          <span class="title-word title-word-6">shade </span>
          <span class="title-word title-word-7">to </span>
          <span class="title-word title-word-8">hack </span>
          <span class="title-word title-word-9">into </span>
          <span class="title-word title-word-10">the </span>
          <span class="title-word title-word-11">world!</span>

        </div>
      </div>
    </div>
    <div class="circle">
      <div id="circ">
        <div class="gif">
          <img src="../static/lip.gif" width="500px" height="500px">
        </div>
      </div>

    </div>

  </div>

  <div id="main2">
  <p id="desc">Click on your lip!</p>
  <video id="video" autoplay></video>
  <canvas id="canvas"></canvas>
  <div id="rgb-display">RGB Value: </div>

  <div id="button-container">
    <button onclick="submitPrompt()" id="button">Generate Recomendations</button>
  </div>
  <div></div>
  
  <div class="box">
    <div id="rect">
        <div id="result"></div>
    </div>
  </div>
  </div>

  
  
  


    <script type="text/javascript" src="../static/script.js"></script>

</body>
</html>
